    </main>
    <footer class="page-horizontal">
        Codeurs en Liberté
        — <a href="/a-propos/legal/">Mentions légales</a>
        — <a href="https://gitlab.com/CodeursEnLiberte/www">Sources du site</a>
        {{ with .OutputFormats.Get "rss" -}}
          — <a href="{{ .Permalink | safeURL }}">RSS</a>
        {{ else }}
          — <a href="/index.xml">RSS</a>
        {{ end -}}
    </footer>
  </body>
</html>
